.todoItem {
  display: flex;
  justify-content: space-between !important;
  width: 100%;
  padding: 10px;
  border-bottom: var(--todoItemBorder);
}

.handlers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.handler {
  align-self: flex-start;
}

.title {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

