.todoItem {
  display: flex;
  justify-content: space-between !important;
  width: 100%;
  padding: 10px;
  border-bottom: var(--todoItemBorder);
}

.handlers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.handler {
  align-self: flex-start;
}

.title {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.handlersContainer {
  display: flex;
  gap: 8px;
}
